.home-container {
  padding: 50px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  margin:15rem auto;
  color: #000;
}
.title-home {
  font-family: "Montserrat", sans-serif;
  font-size: 3rem;
  font-weight: bold;
  color: black;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
}
.subtitle-home {
  font-family: "Roboto", sans-serif;
  font-size: 1.8rem;
  color: #5B708B;
}
.text-home {
  font-family: "Montserrat", sans-serif;
  font-size: 1.5rem;
  color: black;
  font-weight: 500;
  margin-bottom: 20px;
}
.button-projects {
  color: white;
  background-color:#007BFF;
  font-family:Arial, Helvetica, sans-serif;
  width: 23vh;
  font-weight: 700;
  display: flex;
  font-size: 1.2rem;
  justify-content: center;
  border-color: transparent;
  margin: 1em auto;
} 
.button-projects:hover{
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
  transform: scale(1.05);
  border-color:#e1f4ff;
}

/* Modo oscuro */
body.dark-mode .home-container {
  color: #fff;
  background-color: #000;
}

body.dark-mode .title-home {
  color: #fff;
  text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.2);
}

body.dark-mode .subtitle-home {
  color:#007BFF;
}

body.dark-mode .text-home {
  color: #e0e0e0;
}

body.dark-mode .button-projects {
  background-color:#5B708B;
  color: #fff;
}

body.dark-mode .button-projects:hover {
  background-color:slateblue;
}


@media (min-width:350px) and (max-width:640px) {
  .title-home {
    font-size: 2em;
  }
  .subtitle-home{
    font-size: 1.1em;
    text-align: center;
  }
  .text-home{
    font-size: 1.1em;
  }
  .button-projects{
  font-size: 1em;
  }
}

@media (min-width:700px) and (max-width:1340px) {
  .title-home {
    font-size: 1.6em;
  }
  .subtitle-home{
    font-size: 1.1em;
  }
  .text-home{
    font-size: 0.9em;
  }
}