.navbar{
  font-family: 'Montserrat', sans-serif;
    font-size: 19px; 
    font-style:italic;
    background-color: #1E3A5F;
}
.logo-navbar{
    color: #e1f4ff;
    font-size: 1.3em;
    font-weight: 700;
}
.titles{
  color:white;
  font-weight: 400;
  font-size: 1.1em;
  font-family:  'Roboto', sans-serif;;
}

@media(min-width:360px) and (max-width:780px){
  .logo-navbar{
    font-size: 1.2em;
  }
  .div-titles .titles {
    font-size: 0.8em;
  }
}

@media (min-width:830px) and (max-width:1150px){
  .logo-navbar {
    font-size: 1.4rem;
  }
  .div-titles .titles {
    font-size: 1.1rem;
  }
}

