.about-container {
  background-color: white;
}
.row-about {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}
.title-about {
  font-family: "Montserrat", sans-serif;
  font-size: 3rem;
  font-weight: bold;
  color: #5b708b;
  text-align: center;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
}
.subtitle-about {
  font-family: "Roboto", sans-serif;
  font-size: 1.4rem;
  color: #4a4a4a;
  line-height: 1.6;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
}
.title-tecnologias {
  font-family: "Montserrat", sans-serif;
  font-size: 2.3rem;
  font-weight: bold;
  color: #007bff;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
}
.imagen-about {
  margin: 3em;
  width: 100%;
  border-radius: 100rem;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
}

body.dark-mode .about-container {
  background-color: black;
}
body.dark-mode .title-about {
  color: #4da8da;
}

body.dark-mode .subtitle-about {
  color: white;
}
body.dark-mode .tecnologias-bg {
  color: #f1c40f;
}

@media (min-width: 320px) and (max-width: 640px) {
  .title-about {
    font-size: 1.5em;
  }
  .subtitle-about {
    font-size: 1.2em;
    text-align: center;
  }
  .title-tecnologias {
    font-size: 1.4em;
    justify-content: center;
    text-align: center;
  }
  .tecnologias-bg {
    font-size: 1em;
  }
  .button-redes {
    display: flex;
    width: auto;
    height: 10vh;
    gap: 0.5em;
  }
  .imagen-about {
    display: none;
  }
}

@media (min-width: 690px) and (max-width: 1340px) {
  .about-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: left;
  }
  .title-about {
    font-size: 1.4em;
  }
  .subtitle-about {
    font-size: 1.1em;
  }
  .title-tecnologias {
    font-size: 1.2em;
  }
  .tecnologias-bg {
    font-size: 1em;
  }
  .button-redes {
    width: 10vh;
  }
  
}
